*{
	box-sizing: border-box;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 24px;
}
ul li {
    list-style: none;
    margin-bottom: 13px;
  }
.container{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;

}
.header_color{
    background-color: rgb(141, 140, 143);
    height: 35px;

}
.header_name{
    position: center;
    font-size: 24px;
	line-height: 32px;
}
.header_inner{	
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}

.header_inner_logo img{
    height: 250px;
    width: 180px;
}
.header_info{
    display: flex;
    font-size: 18px;
	line-height: 24px;
}
.header_inner_title{
    text-align: right;
}
.header_inner_text{
    text-align: left;
    padding-left: 20px;
}
.info_title,
.skils_title,
.beispiel_title,
.education_title,
.languages_title{
    font-size: 18px;
    line-height: 24px;
    background-color: rgb(141, 140, 143);
    height: 35px;
    padding-top: 5px;

}
.education_text{
padding-left: 250px;}

.education_text{
text-align: left;
}

.container-footer{
    background-color: rgb(141, 140, 143);

}